tmp
db/schema.rb
doc
log

*.txt
*.bat
*Thumbs.db*
.rvmrc

Gemfile.lock
public/system
public/uploads
public/*uploads
public/uploads*

config/database.yml
config/capistrano/templates/database.production.yml