.block  
  %ul
    %li.parent
      - text= content_tag :span, "Пользователи", :class=>:bar
      = link_to text, admins_users_path
            
    %li.parent
      - text= content_tag :span, "Роли", :class=>:bar
      = link_to text, admins_roles_path