.block
  %ul
    %li.system
      - text= content_tag :span, '&laquo; Назад в личный кабинет', :class=>:bar
      = link_to text, cabinet_users_url(:subdomain=>current_user.subdomain)

%h3 Хранилище файлов
.map
  %ul
    - @storage_sections.each do |section|
      %li{:style=>"padding:10px;margin:0 0 10px 0;"}
        =link_to image_tag('iconza/blue/downloads_folder.png', :style=>'vertical-align:middle;') + " " + section.name, storage_section_url(section.zip), :style=>'font-weight:bold;'
  
= object_errors(@page)

.edit_form
  %h5
    Создать новый раздел
    
  -form_for :storage_section, :url => storage_sections_path do |f|
    %label{:for=>:title}
      Название раздела
    %span
      = f.text_field :name, :class=>:input
      
    = submit_tag 'Создать', :class=>:submit
