.block
  %ul
    %li
      - text= content_tag :span, '&laquo; Назад в личный кабинет', :class=>:bar
      = link_to text, cabinet_users_url(:subdomain=>current_user.subdomain)
    %li
      - text= content_tag :span, '&laquo; Назад в хранилище файлов', :class=>:bar
      = link_to text, storage_sections_url(:subdomain=>@subdomain) 
      
%h5
  =@storage_section.name
  %span{:class=>'nobr', :style=>'color:#CCC;'}
    (Я нахожусь в разделе)  

= object_errors(@storage_file)  
    
.edit_form{:style=>'border-color:#FDD;'}
  .div#add_file_link
    =link_to_function 'Мне нужно добавить еще один файл', 'show_add_file_form()'
  .div#add_file_form{:style=>'display:none;'}
    %h5
      Добавить файл

    -form_for :storage_file, :url => storage_files_path, :html => { :multipart => true, :method=>:post } do |form|
      %label
        Название файла
      %div{:style=>"margin:0 0 5px 0;"}
        =form.text_field :name
      %br 
      
      =hidden_field_tag 'storage_section_zip', @storage_section.zip
      
      %label
        Путь к файлу
      %div{:style=>"margin:0 0 5px 0;"}
        =form.file_field :file
      %br 
      
      =submit_tag 'Загрузить', :class=>:submit
    
%ul
  - @storage_section_files.each do |file|
    %li{:style=>"padding:10px;margin:0 0 10px 0; border:3px solid #CCC;"}
      %table{:width=>'100%'}
        %tr
          %td{:style=>'padding:5px 0'}
            -file_name= file.name.blank? ? 'без имени' : file.name
            =link_to file_name, file.file.url, :alt=>'Просмотр файла', :title=>'Просмотр файла'
          %td{:style=>'width:20%;background:#EEE;text-align:center; vertical-align:middle;'}
            =sprintf("%.3f", (file.file.size.to_f/1.kilobyte.to_f))
            Kb
        %tr
          %td{:style=>'padding:5px 0'}
            Адрес:
            %br
            %input{:value=>(Project::ADDRESS+file.file.url).split('?').first, :style=>'width:85%; font-family:Verdana;'}
            %br
            %br
            Вставка ссылки:
            %br
            -url= (Project::ADDRESS+file.file.url).split('?').first
            %input{:value=>link_to(url, url), :style=>'width:85%; font-family:Verdana;'}
          %td{:style=>'width:20%;background:#EEE;text-align:center; vertical-align:middle;'}
            Путь к файлу
        %tr
          %td{:style=>'padding:5px 0'}
            &nbsp;
          %td{:style=>'width:20%;background:#EEE;text-align:center; vertical-align:middle;'}
            =link_to 'Удалить', storage_file_path(file.zip), :method=>:delete, :confirm=>'Вы уверены, что хотите удалить этот файл безвозвратно?'
          
= will_paginate @storage_section_files, :params=>{:controller => :storage_sections, :action => @storage_section.zip, :id=>nil}
%br