%h3 Список пользователей сайта

-for user in @users
  %ul
    %li
      = link_to h(user.login), edit_admins_user_path(user)
  
%br
= will_paginate @users, :class=>:pagination, :previous_label=>"&larr;", :next_label=>"&rarr;"