.block
  %ul
    -unless logged_in?
      %li.system
        - iv= content_tag :span, "iv-schools.ru", :class=>:nobr
        - text= content_tag :span, "Регистрация в системе #{iv}", :class=>:bar
        = link_to text, signup_path