.current_editor_bar#current_editor_bar
  %table
    %tr
      %td
        =image_tag @user.avatar:micro, '#'
      %td
        =#link_to 'Главный редактор', '#'
        Редактор страниц
        =link_to_function 'Развернуть', 'show_editor_block()'

.current_editor_block#current_editor_block{:style=>'display:none;'}
  =image_tag @user.avatar:normal
  .name
    = @user.name
  .bar
    =link_to 'Анкета редактора', '#'
  .bar
    =link_to 'Написать редактору', '#'
  .bar
    =link_to_function 'Свернуть', 'hide_editor_block()'
  