.main_bar_div
  %table.main_bar
    %tr
      %td
        =link_to image_tag('star.png'), root_url(:subdomain=>false)
        =link_to 'Школьный портал', root_url(:subdomain=>false)
      %td
        =link_to t('login'), login_path(:subdomain=> false)
      %td
        =link_to t('signup'), signup_path(:subdomain=> false)