.main_bar_div
  %table.main_bar
    %tr
      %td.logo
        =link_to image_tag('star.png'), '#'
        =link_to 'Школьный портал', '#'
      %td.search
        -form_tag do
          %span
            = text_field_tag :title
            =submit_tag 'Поиск'