Редактор сайта: Иванова Лидия Петровна
%br
Редактор сайта был: 12.03.2009
%br
Обновление страниц редактором: 12.03.2009
= link_to "Подробнее", "#"
%br
%br

Редакторы страниц:
%span.nobr
  Кузьмина Светлана Федоровна,
%span.nobr
  Зарядин Александр Владимирович,
%span.nobr
  Кузьмина Светлана Федоровна,
%span.nobr
  Зарядин Александр Владимирович,
%br

Редакторы страниц были: 12.03.2009
%br
Обновление страниц: 12.03.2009
= link_to "Подробнее", "#"
%br