.black{color:#000;}
.red_string{text-indent:10px;}
.green{color:#0F0;}
.red{color:#F00;}
.blue{color:#00F;}

a.back{color:#CCCCCC;}
a.back:hover{color:#FF7211;}

body        { background:#FFF; font-family:Verdana,Trebuchet MS,Tahoma,Arial,serif; font-size:9pt; behavior:url("/stylesheets/basic/hover.htc");}
.body       { width:900px; margin:auto; }

.img_left{  margin:5px 10px 5px 0; float:left;  }
.img_right{ margin:5px 0 5px 10px; float:right; }

/*sizes*/
.w250{width:250px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
/*sizes*/

/*user_panel*/
.avatara{
  text-align:center;
  margin-bottom: 20px;
}
.user_panel{
  border:1px solid #0000FF;
  height:20px;
  padding:5px;
  text-align:right;
}
.user_panel a{
  padding-right:15px;
}
/*user_panel*/

.std_captcha input#question_captcha{
  border:1px solid #F99;
  font-size:35pt;
  height:68px;
  padding-top:12pt;
  text-align:center;
  width:220px;
}
.alpha{
  margin-top:5px;
  padding:40px 5px 5px 5px;
  border-top:1px solid #FCC;
  border-bottom:1px solid #FCC;
  background:transparent url(/images/basic/alpha.jpg) no-repeat scroll 0 0;
  line-height:150%;
  font-size:8pt;
}
.editor_buttons img{cursor:pointer;}
.linked_files{ border:7px solid #CCCCFF; } 