.black{color:#000;}
.red_string{text-indent:10px;}
.green{color:#0F0;}
.red{color:#F00;}
.blue{color:#00F;}

a.back{color:#CCCCCC;}
a.back:hover{color:#FF7211;}

body{
  background:#FFF url(/images/basic/snowstar.jpg);
  font-family:Verdana,Trebuchet MS,Tahoma,Arial,serif; font-size:9pt;
  behavior:url("/stylesheets/basic/hover.htc");
}
.body       { width:900px; margin:auto; }

.img_left{  margin:5px 10px 5px 0; float:left;  }
.img_right{ margin:5px 0 5px 10px; float:right; }

/*sizes*/
.w250{width:250px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
/*sizes*/

.ml100{margin-left:100px;}

/*user_panel*/
.avatara{
  text-align:center;
  margin-bottom: 20px;
}
.user_panel{
  border:1px solid #0000FF;
  height:20px;
  padding:5px;
  text-align:right;
}
.user_panel a{
  padding-right:15px;
}
/*user_panel*/

.std_captcha input#question_captcha{
  border:1px solid #F99;
  font-size:35pt;
  height:68px;
  padding-top:12pt;
  text-align:center;
  width:220px;
}
/*version*/
.alpha{
  margin-top:5px;
  padding:1px 5px 5px 0;
  -padding:4px 5px 7px 0;
  border-top:1px solid #FCC;
  border-bottom:1px solid #FCC;
  background:transparent url(/images/basic/alpha.gif) no-repeat scroll 0 0;
  line-height:150%;
  font-size:8pt;
}
.alpha a{color:#000;}
.version_block{margin-left:20px;}
.editor_buttons img{cursor:pointer;}
.linked_files{ border:7px solid #CCCCFF; } 
#version{
    line-height:150%;
    margin-top:5px;
    padding-left:5px;
}
/*version*/
/*appreciably_information*/
.appreciably_information_block{
    border-top:1px solid #CCC;
    font-size:8pt;
    padding:10px;
}
.appreciably_information_block .links{text-align:right;}
.appreciably_information_block form{
    margin:10px 0 5px 0;
    text-align:right;
}
.appreciably_information_block form label{
    display:block;
    font-weight:bold;
    font-size:8pt;
}
.appreciably_information_block form input{
    font-size:8pt;
    width:50%;
    text-align:right;
    padding: 3px;
    font-weight:bold;
    color:green;
}
/*appreciably_information*/
.message{
  text-align: center;
  padding: 10px;
  border:3px solid #2476FF;
  font-weight:bold;
  line-height:125%;
}