/*
  killich's design
  killich@yandex.ru
  Илья Зыкин

  A2B3D3 серо-синий
  2476FF голубой
  16181D черный
  F9F9F9 еле заметный серо-синий
  CCCCCC серый
  DCDCDC светлосерый
  C2E5EA морская волна
  FF7211 оранжевый
  FFABAB сетло красный
  A5C9FF светло голубой
  E0ECFF еле заметная морская волна
*/
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td
{ margin:0; padding:0; border:0; outline:0; font-size: 100.01%; vertical-align:baseline; background:transparent; line-height:100%; }
html, body, div, applet, object, iframe,
p, blockquote, pre, abbr, acronym, address, cite, code, del, dfn,
font, img, ins, kbd, q, s, samp, small, strike, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td{
  font-weight:normal;
}
.overblock{overflow:hidden; zoom:1;}
img{ vertical-align:top; }
sup, sub{padding:0;margin:0; font-size:85%; zoom:1;}
sup{vertical-align:40%;}
sub{vertical-align:-40%;}

ol, ul        { list-style:none; }
table, tr, td { vertical-align:top; border-collapse: collapse; border-spacing: 0; }
a             { text-decoration: underline; color:#2476FF; }
a:hover       { text-decoration: none;}
p             { margin:0 0 15px 0; line-height:160%; font-size:8pt;}
.nobr{white-space:nowrap;}
.black{color:#000;}
a.back{color:#CCCCCC;}
a.back:hover{color:#FF7211;}
.red_string{text-indent:10px;}
.green{color:#0F0;}
.red{color:#F00;}
.blue{color:#00F;}

/* reset */
body        { background:#FFF; font-family:Verdana,Trebuchet MS,Tahoma,Arial,serif; font-size:9pt; behavior:url("/stylesheets/basic/hover.htc");}
.body       { width:900px; margin:auto; }
/* headers */
h1,h2,h3,h4,h5,h6 {font-weight:bold; margin-bottom:20px; border-bottom:1px solid #EEE;}
h1{ font-size:22pt; }
h2{ font-size:20pt; }
h3{ font-size:18pt; }
h4{ font-size:16pt; }
h5{ font-size:14pt; }
h6{ font-size:12pt; }
/* headers */
h3 a{color:#000; text-decoration:none;}
h3 a:hover{color:#2476FF;}

/* structure */
.main       { margin:25px 0; }
.navigation { padding:0 10px; width:250px; }
.content    { padding:0 10px; width:650px; }
.data_storage{width:900px;}


.full_width_content{ padding:0 10px; width:900px; }
.full_width_content .block{ float:left; width:880px; overflow:hidden; }
/* structure */
.navigation .block{ width:230px; overflow:hidden; }
.content .block{
  float:left;
  width:630px;
  overflow:hidden;
  font-size:8pt;
  line-height:160%;
}
.content .page  h1{ font-size:20pt; }
.content .page  h2{ font-size:15pt; }
.content .page  h3{ font-size:13pt; }
.content .page  h4{ font-size:10pt; }
.content .page  h5{ font-size:8pt; }
.content .page  h6{ font-size:7pt; }

.content .page .date{
  margin:5px 0 20px 0;
  text-align:right; font-weight:bold;
}
.content .page ul{
  margin:3px;
  padding:10px;
  /* border:7px solid #CCF; */
}
.content .page ul li{
  list-style-image:none;
  list-style-position:inside;
  list-style-type:disc;
  margin:0 0 10px;
}

.data_storage .block{width:900px; height:500px; overflow:scroll; }

.header{
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
  color:#2476FF;
  font-size:28pt;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px solid #EEE;
}
.header a{text-decoration:none;}
.header a:hover{text-decoration:underline;}
.navigation a{
  font-size:9pt;
  color:#A2B3D3;
  font-weight:bold;
  line-height:150%;
}
.navigation a:hover{
  color:#16181D;
}
.navigation li{
 zoom:1;
}
/*sizes*/
.w250{width:250px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
/*sizes*/

/*user_panel*/
.user_panel{
  border:1px solid #0000FF;
  height:20px;
  padding:5px;
  text-align:right;
}
.user_panel a{
  padding-right:15px;
}
/*user_panel*/

/*footer*/
.footer{
  border-top:1px solid #CCC;
}
.footer .block{
  margin:10px 10px 20px 10px ;
}
.footer .block .portal{
}
.footer .block .portal p{
  font-size:8pt;
  margin-bottom:5px;
}
.footer .block .portal a{
  font-size:8pt;
}
.footer .block .portal a:hover{
}
.footer .block .moderator{
  line-height:150%;
  margin-bottom:10px;
}
/*footer*/
.avatara{
  text-align:center;
  margin-bottom: 20px;
}
/* bar */
.bar{
  background-color:#F9F9F9;
  padding:10px;
  text-align:center;
  font-weight:bold;
  
  /*
  border-bottom:1px solid #AAA;
  margin-bottom:10px;
  */
  border-top:1px solid #BBB;
  border-bottom:1px solid #BBB;
  margin-bottom:25px;
}
a .bar{
  font-size:8pt;
  line-height:150%;
  color:#2476FF;
  font-weight:bold;
  text-decoration:underline;
  display:block;
}
a .bar:hover{
  color:#FF7211;
  font-weight:bold;
  text-decoration:underline;
}
.navigation li.parent{
  padding-bottom:20px;
  background:transparent url(/images/basic/pointer.jpg) no-repeat scroll 50% 100%;
}
.parent .bar{background:#E9E9E9;}
.parent.current .bar{
  border-bottom:2px solid #FAA85F;
}
.navigation li.parent.parent.current.last{
  background-image:none;
}
.system .bar{background:#E0ECFF;}
/* bar */

/* system_navigation */

ul.system_navigation{
  overflow:hidden;
  zoom:1;
  height:30px;
  border-bottom:1px solid #EEE;
  text-align:center;
}
.system_navigation li{
  height:20px;
  display:inline;
  margin:0 10px;
  padding:5px 15px;
  text-align:left;
}
.system_navigation li:hover{
  background:#EEE;
}
.system_navigation li a{
  font-size:9pt;
  line-height:150%;
  color:#2476FF;
  font-weight:bold;
}
.system_navigation li a:hover{
  color:#FF7211;
}

/* system_navigation */

/* comment */
.comment{
  line-height:180%;
  border:1px solid #CCC;
  padding:10px;
  margin-bottom:10px;
  position:relative;
  zoom:1.0;
  z-index:1;
  font-size:9pt;
}
.comment b{line-height:180%;}
.comment .number{
  position:absolute;
  top:5px;
  right:5px;
  font-family:Trebuchet MS,Tahoma,Arial,Verdana,serif;
  font-size:40pt;
  color:#DDD;
  z-index:-1;
}
.comment .info{
  margin-bottom:10px;
}
.comment .info a{
  margin-right:10px;
  color:#2476FF;
  font-size:12pt;
  font-weight:bold;
}
.comment .info a:hover{
  color:#FF7211;
}
.comment .info .date{
  color:#AAA;
  font-weight:bold;
  margin-bottom:10px;
}
.comment .controls{
  margin-top:10px;
}
.comment .controls a{
  margin-right:10px;
  color:#888;
}
.comment .controls a:hover{
  color:#F44;
}
.comment .deleted{
  color:#2476FF;
  font-size:12pt;
  font-weight:bold;
  height:50px;
}
/* comment */

/* std_form */
.std_form{
  border:5px solid #DDD;
  margin:0;
  padding:10px;
  margin:0 0 30px 0;
}
.std_form h3{
  margin:0 0 10px 0;
}
.std_form p{
  margin:0 0 7px 0;
  line-height:140%;
  text-indent:0;
}
.std_form form{
  margin:15px 0 10px 0;
}
.std_form form label{
  display:block;
  margin:0 0 3px 0;
  font-size:9pt;
  font-weight:bold;
}
.std_form form strong{
  color:#999;
}
.std_form form p{
  color:#999;
  font-size:8pt;
  margin:0 0 15px 0;
}
.std_form form .input{
  width:300px;
  border:1px solid #CCC;
  border-left:3px solid #CCC;
  padding:3px;
  font-family:Tahoma,Arial,Verdana,serif;
  font-size:14pt;
}
.std_form form .check_box{
  margin:0;
}
.std_form form .textarea_mid{
  width:500px;
  height:150px;
  border:1px solid #CCC;
  border-left:3px solid #CCC;
  padding:3px;
  font-family:Tahoma,Arial,Verdana,serif;
  font-size:8pt;
  line-height:150%;
}
.std_form form .submit{
  width:auto;
}
/* std_form */

/* edit_form */
.edit_form{
  border:5px solid #DDD;
  margin:0;
  padding:10px;
  margin:0 0 30px 0;
}
.edit_form h3{
  margin:0 0 10px 0;
}
.edit_form h5{
  background:#EEEEEE none repeat scroll 0 0;
  font-size:9pt;
  padding:3px;
}
.edit_form h5.gray{color:#888;}
.edit_form p{
  margin:0 0 7px 0;
  line-height:140%;
}
.edit_form form{
  margin:15px 0 10px 0;
}
.edit_form form label{
  display:block;
  margin:0 0 3px 0;
  font-size:8pt;
  font-weight:bold;
}
.edit_form form strong{
  color:#999;
}
.edit_form form p{
  color:#999;
  font-size:8pt;
  margin:0 0 15px 0;
}
.edit_form form .input{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  padding:2px 0 2px 5px;
  width:75%;
  margin:0 0 15px 0;
}
.edit_form form .check_box{
  margin:0;
}
.edit_form form .textarea_small{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  height:60px;
  padding:5px 0 0 5px;
  width:95%;
  margin:0 0 15px 0;
}
.edit_form form .textarea_mid{
  border-color:#EEEEEE #EEEEEE #EEEEEE #FFEBA4;
  border-style:solid;
  border-width:1px 1px 1px 4px;
  font-family:Tahoma,Verdana,Arial;
  font-size:8pt;
  height:600px;
  padding:5px 0 0 5px;
  width:95%;
  margin:0 0 15px 0;
}
.edit_form form .submit{
  width:auto;
}
/* edit_form */

/*map*/
.map a:hover{
  color:#2476FF;
  text-decoration:none;
}
.map ul ul{
  border-left:1px dashed #DDDDDD;
  list-style-image:none;
  list-style-position:inside;
  list-style-type:circle;
  -list-style-type:none;
  -list-style-type:none;
  margin:0 0 0 1px;
}
.map ul li{
  zoom:1;
  padding:3px 0 3px 12px;
}
/*map*/

/*admin map*/
.map, .admin_map{ margin:0 0 15px 0; }
.map a, .admin_map a{
  color:#000;
  font-size:8pt;
  font-weight:normal;
  text-decoration:none;
  line-height: 150%;
}
.admin_map a:hover{
  color:#2476FF;
  text-decoration:none;
}
.map .root a, .admin_map .root a{ font-weight:bold; }
.admin_map .elem{
  overflow:hidden;
  margin:0 0 3px 0;  
}
.admin_map .elem:hover{
  background:#EEE;
}
.admin_map .link{
  margin:0 140px 0 0;
  padding:5px;
}
.admin_map .controls{
  width:140px;
  float:right;

}
.admin_map .childs{
  margin:0 0 0 20px;
  border-left:1px dashed #DDD;
}
.admin_map .button{
  width:20px;
  height:20px;
  display:block;
  float:left;
  margin:0 0 0 3px;
  cursor:pointer;
}
.admin_map .button.new{ background:transparent url(/images/iconza/blue/add.png) no-repeat scroll center center; }
.admin_map .button.new:hover{ background:transparent url(/images/iconza/red/add.png) no-repeat scroll center center;}

.admin_map .button.edit{ background:transparent url(/images/iconza/blue/edit.png) no-repeat scroll center center; }
.admin_map .button.edit:hover{ background:transparent url(/images/iconza/red/edit.png) no-repeat scroll center center;}

.admin_map .button.up{ background:transparent url(/images/iconza/blue/up.png) no-repeat scroll center center; }
.admin_map .button.up:hover{ background:transparent url(/images/iconza/red/up.png) no-repeat scroll center center;}

.admin_map .button.down{ background:transparent url(/images/iconza/blue/down.png) no-repeat scroll center center; }
.admin_map .button.down:hover{ background:transparent url(/images/iconza/red/down.png) no-repeat scroll center center;}

.admin_map .button.delete{ background:transparent url(/images/iconza/blue/delete.png) no-repeat scroll center center; }
.admin_map .button.delete:hover{ background:transparent url(/images/iconza/red/delete.png) no-repeat scroll center center;}

.admin_map .undeleted{ background:transparent url(/images/iconza/gray/delete.png) no-repeat scroll center center; }
.admin_map .cantup{ background:transparent url(/images/iconza/gray/up.png) no-repeat scroll center center; }
.admin_map .cantdown{ background:transparent url(/images/iconza/gray/down.png) no-repeat scroll center center; }
/*admin map*/



/*data_storage*/
.data_storage h2{
  color:#2476FF;
  letter-spacing:3px;
}

.storage_sections{
  margin:0 0 40px 30px;
  font-size:15pt;
}
ul.storage_sections li{
  margin:10px 0;
}
.data_storage table{ width:100%; border:1px solid #ddd;}
.data_storage table td{
  text-align:left;
   border-right:1px solid #ddd;
   border-bottom:1px solid #ddd;
   white-space:nowrap;
   padding:5px;
   padding-right:15px;
   line-height:140%;
   cursor:pointer;
}
.data_storage .tab_title{
  color:#F00;
}
.data_storage table td.descriptor{
  white-space:normal;
}
.state{background:#FFF;}
.marked{background:#EEF;}
/*data_storage*/

/*system_messages*/
.system_messages{
  margin:0 0 15px 0;
}
.system_messages li{
  line-height:150%;
  margin:0 0 7px 0;
  list-style-position:inside;
  list-style-type:disc;
}
.system_messages .notice{
  background:#E0ECFF none repeat scroll 0 0;
  border:1px solid #A5C9FF;
  padding:10px;
  margin:0 0 10px 0;
}
.system_messages .error{
  background:#FFABAB none repeat scroll 0 0;
  border:1px solid #F77;
  padding:10px;
  margin:0 0 10px 0;
}
.system_messages .warning{
  background:#FFF6BF none repeat scroll 0 0;
  border:1px solid #FFD324;
  padding:10px;
  margin:0 0 10px 0;
}
/*system_messages*/

/*time_list*/
.time_list{
  text-align:left;
  margin: 0 0 30px 0;
}
.time_list th, .time_list td{
  padding:10px;
  vertical-align:middle;
  border-bottom:1px solid #CCC;
}
.time_list th{
  font-weight:bold;
}
.time_list .name p{
  margin:0;
  padding-bottom:1px;
  width:600px;
  overflow:hidden;
  white-space:nowrap;
}
.time_list .item{
  background:#F9F9F9;
}
/*time_list*/

.std_captcha input#question_captcha{
  border:1px solid #F99;
  font-size:35pt;
  height:68px;
  padding-top:12pt;
  text-align:center;
  width:220px;
}
/*file storage*/
.file_header{
  margin:0 0 10px 0;
  font-size:13pt;
}
.file_block{
  margin:0 0 10px 0;
  font-size:13pt;
}
.file_block b{
  line-height:150%;
  font-size:8pt;
}
.file_block input{
  font-size:8pt;
  border:1px solid #DDD;
}
.alpha{
  margin-top:5px;
  padding:40px 5px 5px 5px;
  border-top:1px solid #FCC;
  border-bottom:1px solid #FCC;
  background:transparent url(/images/basic/alpha.jpg) no-repeat scroll 0 0;
  line-height:150%;
}
.editor_buttons img{cursor:pointer;}
.linked_files{ border:7px solid #CCCCFF; }