- content_for :current_editor do
  = render :partial => "shared/current_editor_bar"
- content_for :css do
  =stylesheet_link_tag 'basic/map.css', :media=>'screen'
  =stylesheet_link_tag 'basic/admin_map.css', :media=>'screen'
- content_for :title do
  Карта сайта пользователя:
  =@user.login
  |
  =t('portal_name')  
-if @pages_tree.empty?
  .map
    %h5
      Нет страниц с содержимым для отображения
-else
  .map
    %h5=t('site_map')
    %ul
      :ruby
        localize={
          :id_of_element=>t('page.zip_of_page')
        }
      =ans_show_tree(@pages_tree, :clean=>false, :class_name=>:report, :idname=>'zip', :localize=>localize)
      %br
      %hr      
      .admin_map
        :ruby
          localize={
            :id_of_element=>'Идентификатор страницы: ',
            
            :cant_be_moved=>'Элемент не может быть перемещен.',
            :move_up=>'Переместить элемент вверх: ',
            :move_down=>'Переместить элемент вниз: ',
            :edit=>'Редактировать элемент: ',
            :delete=>'Удалить элемент: ',
            :create_child=>'Создать дочерний элемент для: ',
            :delete_confirm=>'Вы уверенны, что хотите удалить элемент?',
            :sub_sections_must_be_deleted=>'Невозможно удалить элемент, пока существуют дочерние элементы.'
          }
        =ans_manager_tree(@pages_tree, :clean=>false, :idname=>:zip, :localize=>localize, :childs_add=>true)
      %br
      %hr
      =pages_tree!(@pages_tree)
      
      