-#{:style=>'display:none;'}
.site_map_block
  #site_map_block.overblock
    %ul.overblock
      %li
        Уважаемый, пользователь!
        %br
        Для навигации по школьному сайту используйте раздел:
      %li            
        - if @subdomain == 'portal' || @subdomain.nil?
          - site_name = 'iv-schools.ru'
          - link_path = pages_path
        - else
          - site_name = content_tag(:span, @subdomain.to_s + '.iv-schools.ru', :class=>'nobr')
          - link_path = pages_path(:subdomain=>@subdomain)   
        =link_to "Карта сайта<br />#{site_name}" , link_path
  
  